{% extends "base.html" %}
{% block title %}sus blog list{% endblock %}
{% block content %}
    <h1>suspicious blogs</h1>
    <p>the following suspicious blogs were found.</p>
    <details>
        <summary><em>why can't you block these automatically?</em></summary>
    while it would be possible to use the block endpoint to automatically block all the
    found blogs, it would rapidly push this application towards the rate limit. moreover,
    blocking the blogs via the report form (hopefully) helps the site staff identify spammers
    and cut down on the number of fake accounts. lastly, doing things like this makes it possible
    for this application to require the bare minimum read-only access to your account, so you don't
    have to worry about changes being made automatically without your consent.
    </details>
{% for blog in blog_list %}
  <div class="blog"
       style="background-color:{{ blog.background_color }}; color :{{ blog.text_color }}; background-image: url('{{ blog.header }}'); text-shadow: 0 0 10px {{ blog.background_color }};box-shadow: inset 0 32px 128px {{ blog.background_color }};">
    <img alt="{{ blog.title }} avatar" src="{{ blog.avatar }}"/>
    <h2>{{ blog.name }} ({{ blog.title }})</h2>
    <article>{{ blog.description|safe }}</article>
  </div>
  <h3>sus blogs:</h3>
  <ul>
  {% if sus_blogs[blog.name] %}
      <div class="bulk-container">
        <div class="inner-bulk">
        <h3>open all report forms</h3>
            <button id="{{ blog.name }}-bulk-report">open all</button>
        </div>
          <p>please make sure that you have your pop-up blocker disabled before trying to use this feature. <br>it probably won't work on mobile.</p>
      </div>
      <script>
      document.getElementById("{{ blog.name }}-bulk-report").addEventListener("click", () => {
          document.querySelectorAll(".{{ blog.name }}-button").forEach(button => button.click());
      });
      </script>
  {% endif %}
  {% for sus in sus_blogs[blog.name] %}
      <li><img alt="{{ sus["name"] }} avatar" src="{{ sus['avatar'][-1]['url'] }}" class="mini"/><a href="https://{{ sus['name'] }}.tumblr.com">{{ sus['name'] }}</a><button id="{{ sus['name'] }}-{{ blog.name }}-report-button" class="{{ blog.name }}-button">report</button></li>
      <script>
          document.getElementById("{{ sus['name'] }}-{{ blog.name }}-report-button").addEventListener("click", ()=>{
              open("https://www.tumblr.com/abuse/start?prefill=" + btoa('{{ sus.report_json_str |safe }}'))
          })
      </script>
  {% else %}
      <h4>none found</h4>
  {% endfor %}
  </ul>
    <hr>
{% endfor %}
{% endblock %}